<p>

    <a href="{% url 'blog:index' %}"> Blog Home Page </a> -

    <a href="{% url 'blog:all_posts' %}"> Posts </a> -

    {% if user.is_authenticated %}

        Wellcome, {{ user.username }}.

    {% else %}

        <a href="{% url 'accounts:login' %}">Login</a> - 
        <a href="{% url 'accounts:register' %}">Register</a>

    {% endif %}
    
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}

<hr/>

    <form action="{% url 'accounts:logout' %}" method="post">

        {% csrf_token %}

        <button name="submit">Logot</button>

    </form>

{% endif %}